@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

#page-description {
  padding: 200px 120px;
}

#page-pricing {
  padding: 100px 0 0;
}

#page-news,
#page-popular-track,
#page-discography {
  padding: 100px 120px 0;
}

#page-app,
#page-similar {
  padding: 100px 120px;
}

#page-popular-track,
#page-discography,
#page-similar {
  text-align: left;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

.page-title {
  max-width: 1200px;
  font-size: 38px;
  margin: 0 auto 48px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-position: center;
  background-size: cover;
}
.banner_bg-main {
  background-image: url("../images/banner.png");
}
.banner_bg-artist {
  background-image: url("../images/morten_harket.png");
}
.banner_text {
  margin: 31px auto 16px;
}

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 11px;
  color: #FFFFFF;
  text-transform: uppercase;
  z-index: 2;
}
.header__search {
  margin-left: 31.3%;
}
.header__search-field {
  min-width: 248px;
  height: 25px;
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
}
.header__search-field::placeholder {
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  color: #757575;
  padding-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.logo__image {
  width: 24px;
  height: 24px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 90px;
  column-gap: 24px;
}
.nav__item {
  text-decoration: none;
  color: #cacaca;
}
.nav__item_white {
  color: #FFFFFF;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 570px;
  margin: auto;
}
.form__value {
  align-self: center;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}
.form__value::placeholder {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  display: block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  padding: 20px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.btn_registration {
  width: 100%;
  font-size: 13.3px;
  border: none;
  background-color: #34C176;
}
.btn__img {
  margin-right: 16px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  filter: invert(100%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.pricing__item {
  flex-basis: 367px;
  flex-shrink: 1;
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}
.pricing__item_bg-chart {
  background-image: url("../images/subscribe_chart.png");
}
.pricing__item_bg-microphone {
  background-image: url("../images/subscribe_microphone.png");
}
.pricing__item_bg-nightclub {
  background-image: url("../images/subscribe_nightclub.png");
}
.pricing__title {
  font-size: 24px;
  font-weight: normal;
  margin: 1em auto 200px;
}
.pricing__value {
  text-transform: uppercase;
  font-size: 64px;
  color: #FFFFFF;
  line-height: 1em;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.pricing__value_currency {
  font-size: 0.5em;
  padding-left: 16px;
  line-height: 1.5;
  vertical-align: top;
}
.pricing__btn {
  font-size: 16px;
  border: 1px solid #FFFFFF;
}
.pricing__description {
  color: #FFFFFF;
  font-size: 12.8px;
  margin: 64px 0;
}

.page-text {
  color: #FFFFFF;
  max-width: 1200px;
  margin: 40px auto 0;
}

.news {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
.news__item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}
.news__image {
  width: 45.5%;
  height: auto;
  flex-grow: 1;
}
.news__image_order-2 {
  order: 2;
}
.news__body {
  width: 45.5%;
  flex-grow: 1;
  text-align: left;
}
.news__title {
  font-size: 30px;
  padding-bottom: 1em;
  text-transform: capitalize;
}
.news__footer {
  padding-top: 24px;
}
.news__author {
  display: flex;
  gap: 16px;
  text-transform: uppercase;
  font-size: 12.8px;
}
.news__author_orange {
  color: #F89202;
}
.news__avatar {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../images/avatar.png");
  background-size: contain;
  background-position: center;
}
.news__btn {
  display: inline-block;
  margin-top: 48px;
  font-size: 12.8px;
  padding: 16px 30px;
  border: 1px solid #FFFFFF;
}

.app {
  display: flex;
  flex-wrap: wrap;
  column-gap: 144px;
}
.app__description {
  flex-basis: 50%;
  flex-grow: 1;
  text-align: left;
}
.app__text {
  margin: 16px 0;
}
.app__image {
  width: 333px;
  height: auto;
}
.app__btn {
  display: inline-block;
  text-transform: capitalize;
  font-size: 12.8px;
  padding: 16px 40px;
  border-radius: 32px;
  background-color: #95390C;
  margin-bottom: 100px;
}

hr {
  margin: 8px 0;
}

li {
  list-style-type: none;
}

ul {
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer__top-block {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  padding: 3rem 120px;
}
.footer__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 22%;
}
.footer__items_row {
  display: flex;
  align-items: baseline;
  column-gap: 24px;
}
.footer__item {
  font-size: 18px;
  color: #FFFFFF;
  margin: 30px 0 16px;
}
.footer__botom-block {
  padding: 2rem 120px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.footer__link {
  text-decoration: none;
  font-size: 16px;
  color: #E0E0E0;
  cursor: pointer;
}
.footer__link_picto_google::before {
  content: url("../images/google+.png");
  width: fit-content;
  height: auto;
}
.footer__link_picto_twitter::before {
  content: url("../images/twitter.png");
  width: fit-content;
}
.footer__link_picto_facebook::before {
  content: url("../images/facebook.png");
  width: fit-content;
}
.footer__link_picto_instagram::before {
  content: url("../images/instagram.png");
  width: fit-content;
}

.banner-artist {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px 0 24px;
}
.banner-artist__supporters {
  margin-top: 1em;
  color: #FFFFFF;
}
.banner-artist__btn-wrapper {
  margin: 48px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.banner-artist__btn {
  width: 200px;
  text-align: left;
  font-family: "Roboto";
  font-size: 12.8px;
  border: none;
}
.banner-artist__btn_violet {
  background-color: #5328A1;
}
.banner-artist__btn_brown {
  background-color: #95390C;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px 50px;
  flex-wrap: wrap;
}

.pop-track {
  display: flex;
  width: 575px;
}
.pop-track__image {
  width: 55px;
  height: 55px;
}
.pop-track__track-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  text-align: left;
}
.pop-track__track {
  font-size: 12.8px;
}
.pop-track__track-name {
  color: #FFFFFF;
}
.pop-track__artist {
  color: #E0E0E0;
}

.discography,
.similar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px 50px;
}
.discography__item,
.similar__item {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.discography__image,
.similar__image {
  width: 100%;
  height: auto;
}
.discography__name,
.similar__name {
  margin-top: 18px;
  font-size: 18px;
  text-transform: capitalize;
}

.discography__info {
  text-align: left;
}

.similar__info {
  text-align: center;
}

.discography__year,
.similar__supporters {
  color: #E0E0E0;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }
  .page-title {
    font-size: 18px;
  }
  .header {
    padding: 0 20px;
  }
  .header__search {
    margin: 15px;
  }
  .pricing__title,
.news__title,
.app__title {
    font-size: 16px;
  }
  #page-description {
    padding: 200px 20px;
  }
  #page-pricing,
#page-news,
#page-popular-track,
#page-discography {
    padding: 100px 20px 0;
  }
  #page-app,
#page-similar {
    padding: 100px 20px;
  }
}
@media (max-width: 576px) {
  #page-description {
    padding: 250px 20px 200px;
  }
  .header {
    flex-direction: column;
    font-weight: bold;
  }
  .header__search {
    margin: 0;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 17px 0 18px;
  }
  .header__search-field {
    width: 100%;
  }
  .form__value {
    width: 100%;
  }
  .pricing__title {
    font-size: 16px;
    margin: 16px auto 200px;
  }
  .news__image {
    order: 0;
  }
  .app__image {
    order: 0;
    margin: 0 auto;
  }
  .footer__top-block,
.footer__botom-block {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .discography__item,
.similar__item {
    width: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
